header.header
    .header__wrapper
        .header__column
            a(href='/')
                i.fab.fa-youtube
        .header__column
            form(action='/search', method="get")
                input(type="text", placeholder="Search by term...", name="term")
        .header__column
            ul
                if !user.isAuthenticated
                    li
                        a(href="/join") Join
                    li
                        a(href="/login") Log In
                else
                    li
                        a(href="/videos/upload") Upload
                    li
                        a(href=`/videos/${user.id}`) Profile
                    li
                        a(href="/logout") Log Out
